<% content_for :aside do%>
	<h2>Last 5 Completed Tasks</h2>
	<% @completed_tasks.each do |completed_task| %>
	<p><%= completed_task.name %></p>
	<% end %>
	<p>Archive</p>
<% end %>

<h1>Todo List</h1>

<% @tasks.each do |task| %>
  
    <p><%= task.name %>: 
    <%= task.complete %></p>
    <p><%= link_to 'Show', task %> | 
    <%= link_to 'Edit', edit_task_path(task) %> | 
    <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></p>
  
<% end %>
<p><%= link_to 'New Task', new_task_path %></p>
